.input-nombre {
  border-radius: 7px;
  border: 1px solid black;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
.x {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.section-form {
  text-align: center;
}
/*INPUT FILE*/
.custum-file-upload {
  height: 4em;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #e8e8e8;
  background-color: #212121;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px #e8e8e8;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 40px;
  fill: #e8e8e8;
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: #e8e8e8;
}

.custum-file-upload input {
  display: none;
}



.div-edit {
  width: 100%;
}


.mb-2{
  text-align: left;
  width: 72%;
  margin-left: auto;
  margin-right: auto;
}
.h2-edit{
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.card{
  width: 70%;
  height: 40em;
  margin-left: auto;
  margin-top: 2em;
  margin-right: auto;
  box-shadow: 1,1,1,black;
  -webkit-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.75);
}
.btn-dark{
  width: 72%;

}
.form-label{
  font-size: 0.8em;
}
.card2{
  height: 15em !important;
}
.form-control2{
  font-size: 0.9em !important;

}
.input2 {
  margin-bottom: 2em;
}
.h2-edit{

  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}


@media (min-width: 800px) {
  .mb-2{
  text-align: left;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.h2-edit{
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.card{
  width: 50%;
  height: 42em;
  margin-left: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: auto;
  box-shadow: 1,1,1,black;
  -webkit-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.75);
}

}