/*HEADER*/
.main-header {
  background-color: #212121;
  padding-bottom: 0.1em;

}

.list-header {
  width: 100%;
}
.list-header li {
  list-style: none;
  font-size: large;
  font-weight: 500;
}

.list-header li a {
  color: white;
  text-decoration: none;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  width: 26em;
}
.div-header-li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



.section-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px ;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 6px;
}
.button-header:hover {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid red;
  border-radius: 6px;
}
/*HOME*/
.img-1 {
  width: 10em;
  height: 10em;
}
.h3-name {
  color: black;
}
.div-products {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ver-home {
  margin-left: 1em;
}
.div-ver {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
th {
  text-align: center;
}
td {
  text-align: center;
}
.card1{
  width: min-content;
  text-align: center;
  margin-left: auto;
  margin-right:auto ;
  margin-top: 2em;
  -webkit-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.75);
}
@media (max-width: 600px) {
  .div-ver{ 
    width: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .category{
    display: none;
  }
  th {
  
    font-size:small;
  }
  td {
  
    font-size: small;
  }
  .ver-home {
    font-size: x-small;
    margin-left: 2px;
    width: min-content;
  }
  .logo {
    width: 20em;
    margin-bottom: -1em;
  }
  .button11 {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }

  .btn11:hover {
    color: #ffffff;
    background: red;
    border: 1px solid #ff0000;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #ff0000, 0 0 20px #ff0000, 0 0 50px #ff0000,
      0 0 100px #ff0000;
  }
  .button-header {
  margin-left: auto;
  margin-right: auto;
  padding: 3px 4px;
  width: 9em;
  font-size: medium;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 6px;
}
.button-header:hover {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid red;
  border-radius: 6px;
}

}
