.foto-perfil{
    width: 14em;
    border: 1px solid black;
   
}
.nombre-perfi{
    font-size: medium;
}
.div-perfil{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}
.div-img{
    padding: 1em;
}