<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> STOCK WEST SMOKE EDIT Cantidad</title>

  <%- include ('./partials/head') %>

    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/estilos.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/createProduct.css" rel="stylesheet">



</head>

<body>
  <%- include ('./partials/header') %>
    <h3 class="h2-edit">Felicidades por tu venta <%= locals.userLogged.fullName %>!</h3>
    <div class="card card2">
    <section class="section-form">
        <form action="/product/edit/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <input type="text" style="width: 90%;display: none; " name="name" value="<%= producto.name %>" placeholder="Nombre del producto" class="input-nombre">
            <input name="description" style="width: 90;display: none;" placeholder="Sabor" value="<%= producto.description %>" class="input-nombre"></input>
            <input type="text" style="width: 65%;display: none;" name="price" value="<%= producto.price%>"placeholder="Precio" class="input-nombre">
            <input type="text" name="discount" style="width: 25%;display: none;"value="<%= producto.discount %>" placeholder="Descuento" class="input-nombre">
            <div class="x">
               <select class="form-select" style="width: 90%;display: none;" name="category"aria-label="Default select example" class="input-nombre">
                    <option selected><%=producto.category%></option>
                    <option value="Ignite">Ignite</option>
                    <option value="Lost Maty">Lost Mary</option>
                    <option value="Elfbar">Elfbar</option>
                    <option value="Elfworld">Elfworld</option>
               </select>
           </div>
           <div class="mb-2">
                <label
                for="exampleFormControlInput1"
                class="form-label form-control2"
                placeholder="Descuento"
                >Cantidad de unidades de <%= (producto.name==null ? "producto" : `${producto.name} ${producto.description}`)%></label>
                <input
                type="number"
                name="cantidad"
                placeholder="<%= producto.cantidad %>"
                value="<%= producto.cantidad %>"
                class="form-control input2 "
                id="exampleFormControlInput1"
                />
            </div>
            <button type="submit" class="btn btn-dark">editar</button>
        </form>
    </section>
    </div>
    <br>
    <br>  
    <%- include ('./partials/footer') %>
      <script src="https://kit.fontawesome.com/2c086df42b.js" crossorigin="anonymous"></script>
      <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
</body>

</html>