<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STOCK WEST SMOKE EDIT</title>

    <%- include ('./partials/head') %>

    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/estilos.css" rel="stylesheet" />
    <link href="/css/login.css" rel="stylesheet" />
    <link href="/css/createProduct.css" rel="stylesheet" />
  </head>

  <body>
    <%- include ('./partials/header') %>
    <main>
      <div class="card" >
        <section class="section-form">
          <form
            class="mt-5"
            action="/product/edit/<%= producto.id  %>?_method=PUT"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="mb-2">
              <label
                for="exampleFormControlInput1"
                class="form-label"
                placeholder="Modelo del producto"
                >Modelo del <%= (producto.category==null ? "producto" :
                producto.category)%></label
              >
              <input
                type="text"
                name="name"
                value="<%= producto.name %>"
                class="form-control form-control-sm"
                id="exampleFormControlInput1"
              />
            </div>
            <div class="mb-2">
              <label for="exampleFormControlInput1" class="form-label"
                >Gusto del <%= (producto.name==null ? "producto" :
                producto.name)%></label
              >
              <input
                type="text"
                name="description"
                value="<%= producto.description %>"
                class="form-control form-control-sm"
                id="exampleFormControlInput1"
              />
            </div>
            <div class="mb-2">
              <label for="exampleFormControlInput1" class="form-label"
                >Precio del <%= (producto.name==null ? "producto" :
                producto.name)%></label
              >
              <input
                type="text"
                name="price"
                value="<%= producto.price%>"
                class="form-control form-control-sm"
                id="exampleFormControlInput1"
              />
            </div>
            <div class="mb-2">
              <label for="exampleFormControlInput1" class="form-label"
                >Descuento del <%= (producto.name==null ? "producto" :
                producto.name)%></label
              >
              <input
                type="text"
                name="discount"
                value="<%= producto.discount %>"
                class="form-control form-control-sm"
                id="exampleFormControlInput1"
              />
            </div>

            <div class="mb-2">
              <label for="exampleFormControlInput1" class="form-label"
                ><%= (producto.description==null ? "Marca del pod" : `Marca del
                pod de gusto ${producto.description}` )%></label
              >
              <select
                class="form-select form-select-sm"
                aria-label="Default select example"
                name="category"
              >
                <option selected><%= producto.category %></option>
                <option value="Ignite">Ignite</option>
                <option value="Lost Maty">Lost Mary</option>
                <option value="Elfbar">Elfbar</option>
                <option value="Elfworld">Elfworld</option>
              </select>
            </div>

            <div class="mb-2">
              <label for="exampleFormControlInput1" class="form-label"
                >Cantidad de unidades del <%= (producto.name==null ? "producto"
                : producto.name)%></label
              >
              <input
                type="number"
                name="cantidad"
                value="<%= producto.cantidad %>"
                class="form-control form-control-sm "
                id="exampleFormControlInput1"
              />
            </div>
            <br />
            <button type="submit" class="btn btn-dark mt-0">editar</button>
            <br>
            
           
        </section>
        <br />
        <br />
      </div>
    </main>

    <%- include ('./partials/footer') %>
    <script
      src="https://kit.fontawesome.com/2c086df42b.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
  </body>
</html>
