<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/head') %>
    <meta charset="UTF-8" />

    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/estilos.css" rel="stylesheet" />

    <title>STOCK WEST SMOKE</title>
  </head>

  <body>
    <%- include ('./partials/header') %>
    <div class="card card1">
      <section id="main">
        <br />
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Modelo</th>
              <% if (!locals.isLogged) { %>
              <th scope="col">Marca</th>
              <% } %>
              <th scope="col">Sabor</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <% if (locals.isLogged) { %>
              <th scope="col">Accion</th>
              <% } %>
            </tr>
          </thead>
          <%for ( let p of productos){ %>
          <tbody>
            <tr>
              <th scope="row"><%=p.name %></th>
              <% if (!locals.isLogged) { %>
              <th scope="row"><%=p.category%></th>
              <% } %>

              <td><%=p.description%></td>
              <td><%=p.cantidad%></td>
              <td>$<%=p.priceTotal%></td>
              <% if (locals.isLogged) { %>
              <td>
                <div class="div-ver">
                  <a href="/product/edit/<%= p.id %>"
                    ><button class="btn btn-secondary ver-home">
                      <i class="fa-solid fa-pen"></i></button
                  ></a>

                  <a href="/product/editCant/<%= p.id %>"
                    ><button type="button" class="btn btn-dark ver-home">
                      <i class="fa-solid fa-check"></i></button
                  ></a>
                  <form
                    action="/product/<%= p.id %>?_method=DELETE"
                    method="POST"
                  >
                    <div class="div-boton-eliminar">
                      <a href="/"
                        ><button id="boton-carrito" class="btn btn-dark ver-home">
                          <i class="fa-solid fa-trash"></i>
                        </button></a
                      >
                    </div>
                  </form>
                </div>
              </td>
              <% } %>
            </tr>
          </tbody>
          <% } %>
        </table>
      </section>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
  </body>
</html>
