<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/estilos.css" rel="stylesheet" />
  </head>
  <body>
    <header class="main-header">
      <section class="section-header">
        <a href="/home" >
          <img class="logo" src="/imagenes/logo posadas.png" alt="" />
        </a>
      
      <ul class="list-header">
        <% if (locals.isLogged) { %>
        <div class="div-header-li">
          <li>
            <a href="/product/create">
              <button class="button-header">Agregar </button>
            </a>
          </li>
          <li>
            <a href="/users/logout">
              <button class="button-header">Cerrar sesion</button>
            </a>
          </li>
        </div>
        <% } else { %>
          <li>
            <a href="/users/login">
              <button class="button-header">Ingresá</button>
            </a>
          </li>
      
        <% } %>
      </ul>
      </section>
    </header>
  </body>
</html>
