<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WEST SMOKE STOCK</title>
    <%- include ('../partials/head') %>
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/estilos.css" rel="stylesheet" />
    <link href="/css/login.css" rel="stylesheet" />
  </head>

  <body class="body-login">
    <section class="section-login">
      <div class="container">
        <input type="checkbox" id="signup_toggle" />
        <form action="/users/login" method="POST" class="form">
          <div class="form_front">
            <div class="form_details">Login</div>
            <input
              placeholder="Username"
              class="input"
              type="text"
              name="email"
              placeholder="Email"
              id="nombre"
            />
            <input
              placeholder="Password"
              class="input"
              type="password"
              name="password"
              id="contraseña"
            />
         
            <label class="cyberpunk-checkbox-label">
            <input type="checkbox" name="recordarUsuario" class="cyberpunk-checkbox">
            Recordar usuario
           </label>

            <button
            type="submit"
            id="boton-enviar"
            class="btn"
          >
            Ingresar
          </button></a
            
          </div>
          
        </form>
      </div>
      <!--<a href="/users/register" class="button-login"><button type="submit" id="boton-crear" class="btn btn-outline-dark  button-login">Crea una
          cuenta</button></a>-->
    </section>

    <br />
    <br />

    <!-- footer -->
    <%- include ('../partials/footer') %>
    <!-- /footer -->
    <script
      src="https://kit.fontawesome.com/2c086df42b.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
  </body>
</html>
