<!DOCTYPE html>
<html lang="en">

<head>

    <%- include ('../partials/head') %>

        <link href="/css/normalize.css" rel="stylesheet">
        <link href="/css/estilos.css" rel="stylesheet">
        <link href="/css/perfil.css" rel="stylesheet">
        <link href="/css/footer.css" rel="stylesheet">
        <link href="/css/header.css" rel="stylesheet">


        <title>WEST SMOKE</title>
</head>

<body>
    <!-- Contenido del Header -->
    <!-- header -->
    <%- include ('../partials/header') %>
        <!-- /header -->
        <main>
            <!--usuario nuevo -->
            <div class="div-perfil">
                <div class="div-img">
                    <img class="foto-perfil" src="/imagenes/avatar/<%= users.fotoPerfil %>" style="margin-top:4px;">
                </div>
                <h2 class="nombre-perfil">
                    <%= users.fullName %>
                </h2>
                <p>
                    <%= users.email%>
                </p>
            </div>
        </main>
        <!-- footer -->
        <%- include ('../partials/footer') %>
            <!-- /footer -->

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
                integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
                integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
                crossorigin="anonymous"></script>


</body>

</html>