<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Mercado Liebre Registro</title>
  <%- include ('../partials/head') %>

    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/estilos.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">

</head>

<body>
  <%- include ('../partials/header') %>
    <section class="section-login">
      <form action="/users/register" method="POST" enctype="multipart/form-data">
        <br>
        <br>
        <input type="text" placeholder="nombre" name="fullName" class="form-control-sm input-login" id="nombre">
        <% if(locals.errors && errors.fullName) { %>
          <div class="text-danger">
            <%= errors.fullName.msg %>
          </div>
          <% } %>
            <input class="form-control-sm input-login" type="password" placeholder="Contraseña" name="password"
              id="contraseña" />
            <% if(locals.errors && errors.password) { %>
              <div class="text-danger">
                <%= errors.password.msg %>
              </div>
              <% } %>
                <input type="email" class="form-control-sm input-login" placeholder="E-mail" name="email" id="correo">
                <% if(locals.errors && errors.email) { %>
                  <div class="text-danger">
                    <%= errors.email.msg %>
                  </div>
                  <% } %>

                    <input type="text" class="form-control-sm input-login" name="country" id="direccion"
                      placeholder="Domicilio">
                    <% if(locals.errors && errors.country) { %>
                      <div class="text-danger">
                        <%= errors.country.msg %>
                      </div>
                      <% } %>

                        
                        <input type="file" name="cImageRegistro" class="form-control-sm input-login"
                          placeholder="Descuento">
                        <% if(locals.errors && errors.cImageRegistro) { %>
                          <div class="text-danger">
                            <%= errors.cImageRegistro.msg %>
                          </div>
                          <% } %>

                          
                           <a href="/" class="button-login"> <button type="submit" id="boton-enviar" class="btn btn-outline-dark">Crear cuenta</button></a>
      </form>
    </section>





    <%- include ('../partials/footer') %>
      <script src="https://kit.fontawesome.com/2c086df42b.js" crossorigin="anonymous"></script>
      <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
</body>

</html>